body {
	background-color: #FAF7EB;
}

#content {
	background-color: white;
	min-width: 834px;
}


#header-row {
	background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url(../img/photo_header.jpg);
	background-size: contain;
	background-repeat: no-repeat;

	height: 456px;
}

#header-content {
	position: relative;

	width: 100%;
	height: 100%;
}

.divider {
	position: absolute;
}

#top-divider {
	top: 4%;
}

#bottom-divider {
	top: 71.5%;
}

#header-white-box {
	position: relative;
	top: 4.5%;
	left: 3%;

	width: 94%;
	height: 83%;

	background-color: rgba(255, 255, 255, 0.6);

	text-align: center;
}

#header-white-box-inner {
	display: table;
	width: 100%;
	height: 100%;
}

#header-white-box-inner-content {
	display: table-cell;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
}

#header-white-box h1 {
	color: #B88E16;

	font-family: 'Great Vibes', cursive;
	font-size: 64px;

	margin-bottom: 0px;
}

#header-white-box h2 {
	color: #323232;

	font-family: 'Source Sans Pro';
	font-size: 18px;

	text-transform: uppercase;
	letter-spacing: 3;
	margin-top: 0px;
}

#join-us-on-row {
	padding-top: 40px;
	padding-bottom: 40px;
}

#join-us-on-content {
	display: table;
	width: 100%;
	text-align: center;
}

#join-us-on-content-inner {
	display: table-cell;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
}

#join-us-on-row h1 {
	color: #B88E16;	
	font-family: 'Source Sans Pro';
	font-size: 18px;
	font-style: italic;

	letter-spacing: 2;
}

#join-us-on-row h2 {
	color: #323232;

	font-family: 'Source Sans Pro';
	font-size: 18px;

	text-transform: uppercase;
	letter-spacing: 3;
	margin-top: 0px;
}

.border-triangle {
	height: 55px;
	width: 100%;
}

.top-triangle {
	border-bottom: 55px solid #E0CA82;
	border-right: 834px solid transparent;
}

.bottom-triangle {
	border-top: 55px solid #E0CA82;
	border-left: 834px solid transparent;
}

.bottom-triangle-with-line .bottom-triangle {
	float: left;
}

.top-triangle-with-line .top-triangle {
	float: left;
}

.top-triangle-with-line .divider {
	margin-top: -32px;
}

.bottom-triangle-with-line .divider {
	margin-top: 16px;
}

#church-row {
	margin-top: 40px;
}

.venue-row {
	padding-top: 20px;
	height: 390px;
}

.venue-row h1 {
	color: #B88E16;

	font-family: 'Great Vibes', cursive;
	font-size: 48px;
}

.venue-row h2 {
	color: #525252;

	font-family: 'Source Sans Pro';
	font-size: 16px;

	text-transform: uppercase;
	letter-spacing: 3;
	margin-top: 0px;
}

.venue-row p {
	font-family: 'Source Sans Pro';
	font-size: 14px;
	letter-spacing: 1.05;
	line-height: 1.3;
	color: #B0B0B0;

	margin-top: 25px;
}

.venue-directions {
	padding-left: 5%;
	height: 350px;
}

.venue-directions-content {
	display: table;
	width: 100%;
	height: 100%;

	text-align: center;
}

.venue-directions-content a:link, a:visited {
	font-style: italic;
	color: #B88E16;
	letter-spacing: 2;
}

.venue-directions-content a:hover {
	opacity: 0.7;
}

.venue-directions-content-inner {
	display: table-cell;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
}

.venue-picture {
	text-align: center;
}

.venue-picture img {
	height: 350px;
}

.section-divider {
	margin-top: 10px;
}

#gifts-row {
	margin-top: 40px;
	padding-left: 5%;
	margin-bottom: 100px;
}

#gifts-row h1 {
	font-family: 'Source Sans Pro';
	font-size: 16px;
	text-transform: uppercase;
	color: #B88E16;	
	letter-spacing: 2;
}

#gifts-row p {
	font-family: 'Source Sans Pro';
	font-size: 16px;
	font-weight: lighter;
	color: #525252;
	letter-spacing: 1.05;
	line-height: 1.5;
	text-align: left;
}

#gifts-instructions-content {
	display: table;
	width: 100%;

	text-align: center;
}

#gifts-instructions-content-inner {
	display: table-cell;
	vertical-align: middle;

	padding-right: 40px;
}

#gifts-logos-content {
	display: table;
	width: 100%;
	height: 241px;

	text-align: center;
}

#gifts-logos-content-inner {
	display: table-cell;
	vertical-align: middle;
	height: 241px;
}

.logo-row {
	padding-right: 20px;
}

#first-logo-row {
	padding-bottom: 10px;
}

#rsvp-row {
	margin-top: 40px;
	margin-bottom: 40px;

	margin-left: 80px;
	margin-right: 80px;
}

#rsvp-row-header {
	text-align: center;
	margin-bottom: 40px;
}

#rsvp-row-header h1 {
	font-family: 'Source Sans Pro';
	font-size: 16px;
	text-transform: uppercase;
	color: #B88E16;	
	letter-spacing: 2;
}

.rsvp-form-row {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

#rsvp-form label {
	color: #B0B0B0;
	font-family: 'Source Sans Pro';
	text-transform: uppercase;
	letter-spacing: 2;
	margin-bottom: 5px;
}

#rsvp-form input[type=radio]:not(old){
  width   : 42px;
  margin-left: -5px;
  padding : 0;
  opacity : 0;
}

#rsvp-form input[type=radio]:not(old) + label {
  display      : inline-block;
  margin-left  : -42px;
  padding-left : 64px;
  background   : url('../img/checkbox.png') no-repeat 0 0;
  line-height  : 42px;
}

#rsvp-form input[type=radio].yes:not(old):checked + label {
  background-position : 0 -42px;
}

#rsvp-form input[type=radio].no:not(old):checked + label {
  background-position : 0 -84px;
}

#rsvp-second-row .radio-label {
	color: #525252; 
	text-transform: none; 
	font-style: italic;
	letter-spacing: 0.5;
	font-size: 18px;
}

#rsvp-third-row .radio-label {
	color: #525252; 
	text-transform: none; 
	font-style: italic;
	letter-spacing: 0.5;
	font-size: 18px;
}

#rsvp-form input, textarea {
	box-shadow: none;
	resize: none;	

	font-family: 'Source Sans Pro';
	letter-spacing: 1.2;
}

.hide {
	position: absolute;
	top: -1px;
	left: -1px;
	width: 1px;
	height: 1px;
}

#rsvp-form-second-row {
}

#rsvp-dietary-input {
	width: 100%;
	height: 100px;
}

#rsvp-fourth-row {
	width: 100%;
	text-align: center;
	display: table;
}

#rsvp-fourth-row a {
	display: table-cell;
	width: 150px;
	color: #E0CA82;
	border: #E0CA82 solid 2px;

	font-family: 'Source Sans Pro';
	font-size: 18px;
	font-style: italic;

	padding-top: 10px;
	padding-bottom: 10px;

	-webkit-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
	-moz-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

#rsvp-fourth-row a:hover {
	background-color: #E0CA82;
	color: white;
}

#contact-row {
	position: relative;
	text-align: center;

	background-color: #E0CA82;
	font-family: 'Source Sans Pro';
	color: white;

	padding-top: 50px;
	padding-bottom: 50px;

	margin-top: 100px;
	margin-bottom: 40px;
}

#contact-row .divider {
	top: -38px;
}

#contact-row p {
	font-style: italic;
	font-size: 18px;
	letter-spacing: 1.2;
	font-weight: lighter;
}

#contact-rows {
	display: inline-block;
	margin: auto;
	text-align: left;

	font-size: 18px;
	letter-spacing: 2.5;
	text-transform: uppercase;
}

#contact-rows img {
	margin-right: 20px;
	padding-bottom: 5px;
}

#hope-row {
	text-align: center;

	padding-bottom: 40px;
}

#hope p {
	font-family: 'Source Sans Pro';
	font-size: 18px;
	font-style: italic;
	color: #525252;

	margin-top: 1em;
	margin-bottom: 0;
}

#j-n-a p {
	font-family: 'Source Sans Pro';
	font-size: 18px;
	color: #525252;
	text-transform: uppercase;
	letter-spacing: 2.5;
}

#footer-row {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;

	font-family: 'Source Sans Pro';
	font-size: 14px;
	font-style: italic;
	color: #E0CA82;
}

